# KDDI Location Data検証用

In [46]:
import pandas as pd
import glob
import os
import gc

In [73]:
files = glob.glob("../data/230127LocationData/*/*.csv")

In [74]:
print(len(files))
files

192

['../data/230127LocationData\\KLD1132\\KLD113201_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113202_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113203_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113204_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113205_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113206_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113207_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113208_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113209_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113210_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113211_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113212_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113213_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113214_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113215_1.csv',
 '../data/230127LocationData\\KLD1132\\KLD113216_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113317_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113318_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113319_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113320_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113321_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113322_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113323_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113324_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113325_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113326_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113327_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113328_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113329_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113330_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113331_1.csv',
 '../data/230127LocationData\\KLD1133\\KLD113332_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113433_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113434_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113435_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113436_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113437_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113438_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113439_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113440_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113441_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113442_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113443_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113444_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113445_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113446_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113447_1.csv',
 '../data/230127LocationData\\KLD1134\\KLD113448_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113549_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113550_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113551_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113552_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113553_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113554_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113555_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113556_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113557_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113558_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113559_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113560_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113561_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113562_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113563_1.csv',
 '../data/230127LocationData\\KLD1135\\KLD113564_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113665_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113666_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113667_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113668_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113669_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113670_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113671_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113672_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113673_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113674_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113675_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113676_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113677_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113678_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113679_1.csv',
 '../data/230127LocationData\\KLD1136\\KLD113680_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113781_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113782_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113783_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113784_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113785_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113786_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113787_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113788_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113789_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113790_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113791_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113792_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113793_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113794_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113795_1.csv',
 '../data/230127LocationData\\KLD1137\\KLD113796_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113801_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113802_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113803_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113804_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113805_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113806_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113807_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113808_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113809_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113810_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113811_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113812_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113813_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113814_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113815_1.csv',
 '../data/230127LocationData\\KLD1138\\KLD113816_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113917_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113918_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113919_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113920_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113921_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113922_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113923_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113924_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113925_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113926_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113927_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113928_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113929_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113930_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113931_1.csv',
 '../data/230127LocationData\\KLD1139\\KLD113932_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114033_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114034_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114035_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114036_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114037_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114038_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114039_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114040_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114041_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114042_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114043_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114044_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114045_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114046_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114047_1.csv',
 '../data/230127LocationData\\KLD1140\\KLD114048_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114149_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114150_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114151_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114152_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114153_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114154_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114155_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114156_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114157_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114158_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114159_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114160_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114161_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114162_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114163_1.csv',
 '../data/230127LocationData\\KLD1141\\KLD114164_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114265_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114266_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114267_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114268_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114269_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114270_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114271_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114272_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114273_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114274_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114275_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114276_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114277_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114278_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114279_1.csv',
 '../data/230127LocationData\\KLD1142\\KLD114280_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114381_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114382_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114383_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114384_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114385_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114386_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114387_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114388_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114389_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114390_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114391_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114392_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114393_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114394_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114395_1.csv',
 '../data/230127LocationData\\KLD1143\\KLD114396_1.csv']

In [71]:
files[32]

'./LocationDataDistinct_EX_K\\KLD113433_1.csv'

In [8]:
# KLD112301_1.csv
df_chk_01 = pd.read_csv(files[48])
# KLD112396_1.csv
# df_chk_96 = pd.read_csv(files[95])

C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2553054977.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_chk_01 = pd.read_csv(files[48])

In [9]:
# 表示行数の設定
pd.set_option('display.max_rows', 1000)

In [10]:
# KLD112301_1.csv
df_chk_01.sort_values(['start_time', 'end_time'])

,yyyymm,mesh_size,yyyymmdd,start_mesh_area,start_city,start_time,end_mesh_area,end_city,end_time,ODRouteType,population
2,202110,125,20211001,50323454243,38210,00:00,50323454243,38210,00:15,K,30.73
119,202110,125,20211001,50323486123,38210,00:00,50323486123,38210,00:15,K,109.49
218,202110,125,20211001,50323486124,38210,00:00,50323486124,38210,00:15,K,55.53
267,202110,125,20211001,50323486241,38210,00:00,50323486241,38210,00:15,K,34.78
396,202110,125,20211001,50323543314,38210,00:00,50323543314,38210,00:15,K,74.89
...,...,...,...,...,...,...,...,...,...,...,...
16748308,202110,125,20211031,51320604344,38201,23:30,51320604344,38201,23:45,K,50.13
16748470,202110,125,20211031,51320613222,38201,23:30,51320613222,38201,23:45,K,66.96
16748575,202110,125,20211031,51320614113,38201,23:30,51320614113,38201,23:45,K,74.23
16748645,202110,125,20211031,51320614114,38201,23:30,51320614114,38201,23:45,K,37.59
16748710,202110,125,20211031,51320614132,38201,23:30,51320614132,38201,23:45,K,39.36

In [31]:
df_chk_01[(df_chk_01['end_mesh_area']==50323486123) & (df_chk_01['yyyymmdd']==20211001)].sort_values('start_time').to_csv('flow_comfirm.csv')

In [20]:
df_chk_01[(df_chk_01['end_mesh_area']==50323486123) & (df_chk_01['yyyymmdd']==20211001)].sort_values('start_time').head(1000)

,yyyymm,mesh_size,yyyymmdd,start_mesh_area,start_city,start_time,end_mesh_area,end_city,end_time,ODRouteType,population
67,202110,125,20211001,50323486123,38210,00:00,50323486123,38210,00:15,K,109.49
68,202110,125,20211001,50323486123,38210,00:15,50323486123,38210,00:30,K,109.49
69,202110,125,20211001,50323486123,38210,00:30,50323486123,38210,00:45,K,109.49
70,202110,125,20211001,50323486123,38210,00:45,50323486123,38210,01:00,K,109.49
71,202110,125,20211001,50323486123,38210,01:00,50323486123,38210,01:15,K,109.49
72,202110,125,20211001,50323486123,38210,01:15,50323486123,38210,01:30,K,109.49
73,202110,125,20211001,50323486123,38210,01:30,50323486123,38210,01:45,K,109.49
74,202110,125,20211001,50323486123,38210,01:45,50323486123,38210,02:00,K,109.49
75,202110,125,20211001,50323486123,38210,02:00,50323486123,38210,02:15,K,109.49
76,202110,125,20211001,50323486123,38210,02:15,50323486123,38210,02:30,K,109.49
77,202110,125,20211001,50323486123,38210,02:30,50323486123,38210,02:45,K,109.49
78,202110,125,20211001,50323486123,38210,02:45,50323486123,38210,03:00,K,109.49
79,202110,125,20211001,50323486123,38210,03:00,50323486123,38210,03:15,K,109.49
80,202110,125,20211001,50323486123,38210,03:15,50323486123,38210,03:30,K,109.49
81,202110,125,20211001,50323486123,38210,03:30,50323486123,38210,03:45,K,109.49
82,202110,125,20211001,50323486123,38210,03:45,50323486123,38210,04:00,K,109.49
83,202110,125,20211001,50323486123,38210,04:00,50323486123,38210,04:15,K,109.49
84,202110,125,20211001,50323486123,38210,04:15,50323486123,38210,04:30,K,109.49
85,202110,125,20211001,50323486123,38210,04:30,50323486123,38210,04:45,K,109.49
86,202110,125,20211001,50323486123,38210,04:45,50323486123,38210,05:00,K,109.49
87,202110,125,20211001,50323486123,38210,05:00,50323486123,38210,05:15,K,109.49
88,202110,125,20211001,50323486123,38210,05:15,50323486123,38210,05:30,K,109.49
89,202110,125,20211001,50323486123,38210,05:30,50323486123,38210,05:45,K,109.49
90,202110,125,20211001,50323486123,38210,05:45,50323486123,38210,06:00,K,109.49
91,202110,125,20211001,50323486123,38210,06:00,50323486123,38210,06:15,K,109.49
92,202110,125,20211001,50323486123,38210,06:15,50323486123,38210,06:30,K,109.49
93,202110,125,20211001,50323486123,38210,06:30,50323486123,38210,06:45,K,109.49
94,202110,125,20211001,50323486123,38210,06:45,50323486123,38210,07:00,K,109.49
95,202110,125,20211001,50323486123,38210,07:00,50323486123,38210,07:15,K,109.49
96,202110,125,20211001,50323486123,38210,07:15,50323486123,38210,07:30,K,109.49
97,202110,125,20211001,50323486123,38210,07:30,50323486123,38210,07:45,K,109.49
98,202110,125,20211001,50323486123,38210,07:45,50323486123,38210,08:00,K,109.49
99,202110,125,20211001,50323486123,38210,08:00,50323486123,38210,08:15,K,109.49
101,202110,125,20211001,50323486123,38210,08:15,50323486123,38210,08:30,K,34.6
102,202110,125,20211001,50323486123,38210,08:30,50323486123,38210,08:45,K,34.6
103,202110,125,20211001,50323486123,38210,08:45,50323486123,38210,09:00,K,34.6
104,202110,125,20211001,50323486123,38210,09:00,50323486123,38210,09:15,K,34.6
105,202110,125,20211001,50323486123,38210,09:15,50323486123,38210,09:30,K,34.6
106,202110,125,20211001,50323486123,38210,09:30,50323486123,38210,09:45,K,34.6
107,202110,125,20211001,50323486123,38210,09:45,50323486123,38210,10:00,K,34.6
108,202110,125,20211001,50323486123,38210,10:00,50323486123,38210,10:15,K,34.6
109,202110,125,20211001,50323486123,38210,10:15,50323486123,38210,10:30,K,34.6
110,202110,125,20211001,50323486123,38210,10:30,50323486123,38210,10:45,K,34.6
111,202110,125,20211001,50323486123,38210,10:45,50323486123,38210,11:00,K,34.6
112,202110,125,20211001,50323486123,38210,11:00,50323486123,38210,11:15,K,34.6
113,202110,125,20211001,50323486123,38210,11:15,50323486123,38210,11:30,K,34.6
61,202110,125,20211001,50323475443,38210,11:30,50323486123,38210,12:00,K,74.89
114,202110,125,20211001,50323486123,38210,11:30,50323486123,38210,11:45,K,34.6
115,202110,125,20211001,50323486123,38210,11:45,50323486123,38210,12:00,K,34.6
116,202110,125,20211001,50323486123,38210,12:00,50323486123,38210,12:15,K,109.49
117,202110,125,20211001,50323486123,38210,12:15,50323486123,38210,12:30,K,109.49
118,202110,125,20211001,50323486123,38210,12:30,50323486123,38210,12:45,K,109.49
119,202110,125,20211001,50323486123,38210,12:45,50323486123,38210,13:00,K,109.49
120,202110,125,20211001,50323486123,38210,13:00,50323486123,38210,13:15,K,109.49
121,202110,125,20211001,50323486123,38210,13:15,50323486123,38210,13:30,K,109.49
122,202110,125,20211001,50323486123,38210,13:30,50323486123,38210,13:45,K,109.49
123,202110,125,20211001,50323486123,38210,13:45,50323486123,38210,14:00,K,109.49
124,202110,125,20211001,50323486123,38210,14:00,50323486123,38210,14:15,K,109.49
125,202110,125,20211001,50323486123,38210,14:15,50323486123,38210,14:30,K,109.49
126,202110,125,20211001,50323486123,38210,14:30,50323486123,38210,14:45,K,109.49
127,202110,125,20211001,50323486123,38210,14:45,50323486123,38210,15:00,K,109.49
128,202110,125,20211001,50323486123,38210,15:00,50323486123,38210,15:15,K,109.49
129,202110,125,20211001,50323486123,38210,15:15,50323486123,38210,15:30,K,109.49
130,202110,125,20211001,50323486123,38210,15:30,50323486123,38210,15:45,K,109.49
131,202110,125,20211001,50323486123,38210,15:45,50323486123,38210,16:00,K,109.49
132,202110,125,20211001,50323486123,38210,16:00,50323486123,38210,16:15,K,109.49
133,202110,125,20211001,50323486123,38210,16:15,50323486123,38210,16:30,K,109.49
134,202110,125,20211001,50323486123,38210,16:30,50323486123,38210,16:45,K,109.49
135,202110,125,20211001,50323486123,38210,16:45,50323486123,38210,17:00,K,109.49
136,202110,125,20211001,50323486123,38210,17:00,50323486123,38210,17:15,K,109.49
137,202110,125,20211001,50323486123,38210,17:15,50323486123,38210,17:30,K,109.49
138,202110,125,20211001,50323486123,38210,17:30,50323486123,38210,17:45,K,109.49
139,202110,125,20211001,50323486123,38210,17:45,50323486123,38210,18:00,K,109.49
140,202110,125,20211001,50323486123,38210,18:00,50323486123,38210,18:15,K,109.49
141,202110,125,20211001,50323486123,38210,18:15,50323486123,38210,18:30,K,109.49
142,202110,125,20211001,50323486123,38210,18:30,50323486123,38210,18:45,K,109.49
143,202110,125,20211001,50323486123,38210,18:45,50323486123,38210,19:00,K,109.49
144,202110,125,20211001,50323486123,38210,19:00,50323486123,38210,19:15,K,109.49
145,202110,125,20211001,50323486123,38210,19:15,50323486123,38210,19:30,K,74.89
146,202110,125,20211001,50323486123,38210,19:30,50323486123,38210,19:45,K,74.89
147,202110,125,20211001,50323486123,38210,19:45,50323486123,38210,20:00,K,74.89
148,202110,125,20211001,50323486123,38210,20:00,50323486123,38210,20:15,K,74.89
149,202110,125,20211001,50323486123,38210,20:15,50323486123,38210,20:30,K,74.89
150,202110,125,20211001,50323486123,38210,20:30,50323486123,38210,20:45,K,74.89
151,202110,125,20211001,50323486123,38210,20:45,50323486123,38210,21:00,K,74.89
152,202110,125,20211001,50323486123,38210,21:00,50323486123,38210,21:15,K,74.89
153,202110,125,20211001,50323486123,38210,21:15,50323486123,38210,21:30,K,74.89
154,202110,125,20211001,50323486123,38210,21:30,50323486123,38210,21:45,K,74.89
155,202110,125,20211001,50323486123,38210,21:45,50323486123,38210,22:00,K,74.89
156,202110,125,20211001,50323486123,38210,22:00,50323486123,38210,22:15,K,74.89
157,202110,125,20211001,50323486123,38210,22:15,50323486123,38210,22:30,K,74.89
158,202110,125,20211001,50323486123,38210,22:30,50323486123,38210,22:45,K,74.89
159,202110,125,20211001,50323486123,38210,22:45,50323486123,38210,23:00,K,74.89
160,202110,125,20211001,50323486123,38210,23:00,50323486123,38210,23:15,K,74.89
161,202110,125,20211001,50323486123,38210,23:15,50323486123,38210,23:30,K,74.89

In [17]:
# KLD112396_1.csv
# df_chk_01[(df_chk_01['start_mesh_area']==50323486241) & (df_chk_01['yyyymmdd']==20211001)].sort_values('start_time').head(200)
df_chk_01[(df_chk_01['start_mesh_area']==50323475443) & (df_chk_01['yyyymmdd']==20211001)].sort_values('start_time').head(1000)

,yyyymm,mesh_size,yyyymmdd,start_mesh_area,start_city,start_time,end_mesh_area,end_city,end_time,ODRouteType,population
7,202110,125,20211001,50323475443,38210,08:45,50323475443,38210,09:00,K,74.89
8,202110,125,20211001,50323475443,38210,09:00,50323475443,38210,09:15,K,74.89
9,202110,125,20211001,50323475443,38210,09:15,50323475443,38210,09:30,K,74.89
10,202110,125,20211001,50323475443,38210,09:30,50323475443,38210,09:45,K,74.89
11,202110,125,20211001,50323475443,38210,09:45,50323475443,38210,10:00,K,74.89
12,202110,125,20211001,50323475443,38210,10:00,50323475443,38210,10:15,K,74.89
13,202110,125,20211001,50323475443,38210,10:15,50323475443,38210,10:30,K,74.89
14,202110,125,20211001,50323475443,38210,10:30,50323475443,38210,10:45,K,74.89
15,202110,125,20211001,50323475443,38210,10:45,50323475443,38210,11:00,K,74.89
16,202110,125,20211001,50323475443,38210,11:00,50323475443,38210,11:15,K,74.89
17,202110,125,20211001,50323475443,38210,11:15,50323475443,38210,11:30,K,74.89
18,202110,125,20211001,50323475443,38210,11:30,50323486123,38210,12:00,K,74.89
19,202110,125,20211001,50323475443,38210,13:30,50323475443,38210,13:45,K,50.13
20,202110,125,20211001,50323475443,38210,13:45,50323475443,38210,14:00,K,50.13
21,202110,125,20211001,50323475443,38210,14:00,50323475443,38210,14:15,K,50.13
22,202110,125,20211001,50323475443,38210,14:15,50323475443,38210,14:30,K,50.13
23,202110,125,20211001,50323475443,38210,14:30,50325526414,38210,15:00,K,50.13

In [75]:
# 抽出処理の実行(本来の要件)
for f in files:
    df = pd.read_csv(f)
    # 滞在は除く
    nstay_df = df[df['ODRouteType'] != 'K']
    # メッシュコードが同じものを除く
    nsamemesh_df = nstay_df[nstay_df['start_mesh_area'] != nstay_df['end_mesh_area']]
    # 推定人数が秘匿のところは空白に置換える
    nsamemesh_df.loc[nsamemesh_df['population'] == '***', 'population'] = ''
    # 抽出したものを保存
    nsamemesh_df.to_csv('./LocationDataEx_K/' + os.path.split(f)[1])
    # 推定人数のユニーク数についても保存
    nsamemesh_df['population'].value_counts().to_csv(('./LocationDataEx_K/pop_' + os.path.split(f)[1]))
    # 変数の削除
    del df, nstay_df, nsamemesh_df
    gc.collect()

C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)
C:\Users\BIGDATA_DEV\AppData\Local\Temp\ipykernel_6720\2890134141.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f)

In [78]:
files = glob.glob("./LocationDataDistinct_EX_K/*.csv")

In [79]:
# マージ処理（12ファイル = 3h）
cnt = 0
names = ['a.csv', 'b.csv', 'c.csv', 'd.csv', 'e.csv', 'f.csv', 'g.csv', 'h.csv']
itr_names = iter(names)
file_names = []
con_df = None
for f in files:
    # ファイル名の一時保存（12ファイル分）
    file_names.append(f)
    if cnt == 0:
        base_df = pd.read_csv(f, index_col=0)
    elif cnt == 1:
        df = pd.read_csv(f, index_col=0)
        con_df = pd.concat([base_df, df], ignore_index=True)
        con_df.drop_duplicates(inplace=True) # 重複行の削除
    else:
        df = pd.read_csv(f, index_col=0)
        con_df = pd.concat([con_df, df], ignore_index=True)
        con_df.drop_duplicates(inplace=True) # 重複行の削除
    
    if cnt == 23:
        name = next(itr_names)
        # 保存処理
        con_df.to_csv('./230130_Test_Middle/' + name)
        # 出力
        pd.Series(file_names).to_csv('./230130_Test_Middle/fnames_' + name)
        # カウントクリア
        cnt = 0
        # ファイル名のクリア
        file_names.clear()
    else:
        cnt += 1

# 抽出後確認

In [58]:
files = glob.glob("./LocationDataEx_merge/*.csv", )

In [59]:
files

['./LocationDataEx_merge\\a.csv',
 './LocationDataEx_merge\\b.csv',
 './LocationDataEx_merge\\c.csv',
 './LocationDataEx_merge\\d.csv',
 './LocationDataEx_merge\\e.csv',
 './LocationDataEx_merge\\f.csv',
 './LocationDataEx_merge\\g.csv',
 './LocationDataEx_merge\\h.csv']

In [24]:
df = pd.read_csv(files[1], index_col=0)

In [25]:
df

,yyyymm,mesh_size,yyyymmdd,start_mesh_area,start_city,start_time,end_mesh_area,end_city,end_time,ODRouteType,population
0,202110,125,20211001,50323454243,38210,06:15,50323454414,38210,06:30,S,30.73
1,202110,125,20211001,50323454414,38210,07:30,50325557243,38401,07:45,NaN,30.73
2,202110,125,20211001,50323462412,38210,15:45,50324531242,38210,16:00,R,30.07
3,202110,125,20211001,50323462412,38210,20:45,50324510341,38210,21:00,R,27.64
4,202110,125,20211001,50323462414,38210,08:15,50324521434,38210,08:30,R,37.11
...,...,...,...,...,...,...,...,...,...,...,...
4998580,202110,125,20211031,50327621134,38201,05:45,50327661241,38201,06:00,NaN,39.36
4998596,202110,125,20211031,50327621221,38201,05:30,50327610224,38201,05:45,S,37.59
4999436,202110,125,20211031,50327652313,38201,05:30,50327672123,38201,05:45,S,30.82
4999545,202110,125,20211031,50327661244,38201,05:30,50327661243,38201,05:45,S,42.84
5000444,202110,125,20211031,50327700243,38201,05:45,50326635423,38201,06:00,NaN,31.81

# PostGISではなくPandasで全ての処理をした場合

In [80]:
files = glob.glob("./230130_Test_Middle/*.csv")

In [81]:
cnt = 0
for f in files:
    if cnt == 0:
        base_df = pd.read_csv(f, index_col=0)
    elif cnt == 1:
        df = pd.read_csv(f, index_col=0)
        con_df = pd.concat([base_df, df], ignore_index=True)
        con_df.drop_duplicates(inplace=True) # 重複行の削除
    else:
        df = pd.read_csv(f, index_col=0)
        con_df = pd.concat([con_df, df], ignore_index=True)
        con_df.drop_duplicates(inplace=True) # 重複行の削除
    cnt += 1

# 保存処理
con_df.to_csv('./230130_Test_Middle/merged.csv', index = False)

In [82]:
df = pd.read_csv('./230130_Test_Middle/merged.csv', index_col=0)
df

,mesh_size,yyyymmdd,start_mesh_area,start_city,start_time,end_mesh_area,end_city,end_time,ODRouteType,population
yyyymm,,,,,,,,,,
202204,125,20220401,50323462233,38210,14:00,50325505212,38210,17:00,R,43.28
202204,125,20220401,50323462411,38210,07:15,50324419142,38210,18:00,NaN,160.41
202204,125,20220401,50323462411,38210,14:15,50324409331,38210,14:30,R,43.28
202204,125,20220401,50323462411,38210,15:30,50324520211,38210,15:45,R,59.03
202204,125,20220401,50323462411,38210,21:45,50323486231,38210,22:00,R,35.43
...,...,...,...,...,...,...,...,...,...,...
202204,125,20220430,50326654221,38201,23:30,50326613413,38201,23:45,S,47.96
202204,125,20220430,50326684231,38201,23:30,50326633334,38201,23:45,S,66.16
202204,125,20220430,50327467133,38201,23:30,50327467321,38201,23:45,S,28.61
202204,125,20220430,50327662313,38201,23:30,50327661424,38201,23:45,W,33.86
202204,125,20220430,50327663231,38201,23:30,50326640321,38201,23:45,S,59.03

# 以下参考：PostGIS処理後（重複行の削除処理後）
```create table a_dt as
select distinct on(tb.yyyymmdd, tb.start_mesh_area, tb.start_time, tb.end_mesh_area, tb.end_time, tb.odroutetype, tb.population) tb.yyyymmdd, tb.start_mesh_area, tb.start_time, tb.end_mesh_area, tb.end_time, tb.odroutetype, tb.population
from a_csv tb```

In [2]:
files = glob.glob("./csv_distincted/*.csv")

In [3]:
files

['./csv_distincted\\a_dt.csv',
 './csv_distincted\\b_dt.csv',
 './csv_distincted\\c_dt.csv',
 './csv_distincted\\d_dt.csv',
 './csv_distincted\\e_dt.csv',
 './csv_distincted\\f_dt.csv',
 './csv_distincted\\g_dt.csv',
 './csv_distincted\\h_dt.csv']

In [5]:
files[0]

'./csv_distincted\\a_dt.csv'

In [6]:
df_a = pd.read_csv(files[0])

In [7]:
df_a

,yyyymmdd,start_mesh_area,start_time,end_mesh_area,end_time,odroutetype,population
0,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
1,2021-10-01,50323454414,07:15,50326620132,08:30,S,30.73
2,2021-10-01,50323486111,06:30,50323486113,18:45,R,30.73
3,2021-10-01,50323486123,06:30,50323486124,07:00,W,55.53
4,2021-10-01,50323486123,08:15,50323475443,08:45,S,74.89
...,...,...,...,...,...,...,...
1659856,2022-04-30,51320614114,11:30,51320614132,12:00,W,42.59
1659857,2022-04-30,51320614114,14:15,51320614132,14:45,W,42.59
1659858,2022-04-30,51320614122,12:00,50327631142,12:45,S,41.74
1659859,2022-04-30,51320614132,12:30,51320614114,13:00,W,42.59
1659860,2022-04-30,51320614321,13:00,50326527131,14:45,S,33.86

In [11]:
cnt = 0
for f in files:
    if cnt == 0:
        base_df = pd.read_csv(f)
    elif cnt == 1:
        df = pd.read_csv(f)
        con_df = pd.concat([base_df, df], ignore_index=True)
    else:
        df = pd.read_csv(f)
        con_df = pd.concat([con_df, df], ignore_index=True)
    cnt += 1

# 保存処理
con_df.to_csv('./a_merged.csv')

# マージ後データの確認

In [14]:
df = pd.read_csv('./a_merged.csv', index_col=0)

In [15]:
df

,yyyymmdd,start_mesh_area,start_time,end_mesh_area,end_time,odroutetype,population
0,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
1,2021-10-01,50323454414,07:15,50326620132,08:30,S,30.73
2,2021-10-01,50323486111,06:30,50323486113,18:45,R,30.73
3,2021-10-01,50323486123,06:30,50323486124,07:00,W,55.53
4,2021-10-01,50323486123,08:15,50323475443,08:45,S,74.89
...,...,...,...,...,...,...,...
13358917,2022-04-30,51320614114,11:30,51320614132,12:00,W,42.59
13358918,2022-04-30,51320614114,14:15,51320614132,14:45,W,42.59
13358919,2022-04-30,51320614122,12:00,50327631142,12:45,S,41.74
13358920,2022-04-30,51320614132,12:30,51320614114,13:00,W,42.59
13358921,2022-04-30,51320614321,13:00,50326527131,14:45,S,33.86

In [17]:
df.duplicated().sum()

11610110

In [18]:
df.sort_values(by=["yyyymmdd", "start_mesh_area", "start_time"])

,yyyymmdd,start_mesh_area,start_time,end_mesh_area,end_time,odroutetype,population
0,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
1659861,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
3324393,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
5002075,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
6675951,2021-10-01,50323454243,06:00,50323454414,06:45,S,30.73
...,...,...,...,...,...,...,...
5002074,2022-04-30,51320614324,18:15,50327661423,20:15,S,33.86
6675950,2022-04-30,51320614324,18:15,50327661423,20:15,S,33.86
8360232,2022-04-30,51320614324,18:15,50327661423,20:15,S,33.86
10047268,2022-04-30,51320614324,18:15,50327661423,20:15,S,33.86
11726399,2022-04-30,51320614324,18:15,50327661423,20:15,S,33.86

# 初期抽出データの重複確認

In [4]:
files = glob.glob("./LocationDataEx/*")

In [7]:
files[:5]

['./LocationDataEx\\KLD112301_1.csv',
 './LocationDataEx\\KLD112302_1.csv',
 './LocationDataEx\\KLD112303_1.csv',
 './LocationDataEx\\KLD112304_1.csv',
 './LocationDataEx\\KLD112305_1.csv']

In [8]:
df_1 = pd.read_csv(files[0])
df_2 = pd.read_csv(files[1])

In [10]:
df_m = pd.concat([df_1, df_2], axis=0, ignore_index=True)

In [11]:
df_m.duplicated().sum()

53

In [15]:
print(df_1.shape)
print(df_2.shape)
print(df_m.shape)

(1577436, 12)
(1580414, 12)
(3157850, 12)