In [1]:
#Kepler.glの導入
from keplergl import KeplerGl
#pandasの導入
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\BIGDATA_DEV\\Desktop\\実証実験事業\\Notebook\\kddidata\\220401900_kddi_base.csv')

In [4]:
df

                    date         grid        lat         lng  param
0    2022/04/01 09:00:00  50327682112  33.983854  132.777344  0.346
1    2022/04/01 09:00:00  50327663144  33.970312  132.792969  1.000
2    2022/04/01 09:00:00  50327662223  33.968229  132.785156  1.000
3    2022/04/01 09:00:00  50327652234  33.961979  132.783594  0.798
4    2022/04/01 09:00:00  50327641444  33.957813  132.774219  1.000
..                   ...          ...        ...         ...    ...
401  2022/04/01 09:00:00  50324596313  33.747396  132.700781  1.000
402  2022/04/01 09:00:00  50324693322  33.746354  132.792969  0.220
403  2022/04/01 09:00:00  50324683413  33.739063  132.794531  0.815
404  2022/04/01 09:00:00  50324682212  33.733854  132.783594  0.928
405  2022/04/01 09:00:00  50324771143  33.728646  132.891406  1.000

[406 rows x 5 columns]

In [5]:
map1 = KeplerGl(height=400)
map1.add_data(data=df, name='data1')
map1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data1': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2…

In [8]:
df2 = pd.read_csv('C:\\Users\\BIGDATA_DEV\\Desktop\\実証実験事業\\Notebook\\kddidata\\kddi_22040109H_trandata.csv')

In [9]:
df2

               date         grid        lat         lng     param
0     2022/4/1 9:00  51320614132  34.010937  132.802344 -0.005870
1     2022/4/1 9:00  51320614113  34.009896  132.800781  0.010200
2     2022/4/1 9:00  51320614114  34.009896  132.802344  0.000782
3     2022/4/1 9:00  51320612221  34.008854  132.785156  0.010000
4     2022/4/1 9:00  51320613211  34.008854  132.794531  0.020900
...             ...          ...        ...         ...       ...
7434  2022/4/1 9:00  50324521233  33.686979  132.644531  0.026300
7435  2022/4/1 9:00  50324521234  33.686979  132.646094 -0.004110
7436  2022/4/1 9:00  50324525233  33.686979  132.694531 -0.001400
7437  2022/4/1 9:00  50324525243  33.686979  132.697656  0.001390
7438  2022/4/1 9:00  50324526133  33.686979  132.700781 -0.000132

[7439 rows x 5 columns]

In [10]:
map2 = KeplerGl(height=400)
map2.add_data(data=df2, name='data1')
map2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data1': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2…

In [11]:
df3 = pd.read_csv('C:\\Users\\BIGDATA_DEV\\Desktop\\実証実験事業\\Notebook\\pointdata_all.csv')

In [12]:
map3 = KeplerGl(height=400)
map3.add_data(data=df3, name='data1')
map3

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data1': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2…