In [1]:
# ライブラリのインポート
import numpy as np
import pandas as pd
import psycopg2
import datetime

In [2]:
filename = 'kddi_trkn12_change12.csv'
dbname = 'kddi_12_param_marge'
df_csv = pd.read_csv(filename)

In [3]:
df_csv

                     times         mesh         max
0      2022-04-29 15:30:00  50326537321   41.000000
1      2022-04-29 15:30:00  50326539224  212.000000
2      2022-04-29 15:30:00  50326547222   58.000000
3      2022-04-29 15:30:00  50326569424   50.036494
4      2022-04-29 15:30:00  50326569442   35.000000
...                    ...          ...         ...
15813  2022-04-30 17:45:00  50327642333   60.623253
15814  2022-04-30 17:45:00  50327652112   58.741352
15815  2022-04-30 17:45:00  50327652114   57.160901
15816  2022-04-30 17:45:00  50327652132   55.580451
15817  2022-04-30 17:45:00  50327652134   54.000000

[15818 rows x 3 columns]

In [4]:
connection = psycopg2.connectconnection = psycopg2.connect(host="localhost", database="analysisdb", user="postgres",password="setouchi1311")

In [5]:
cur =connection.cursor()
i = 0
for item in df_csv.values:
    sql = "SELECT tbran from " + dbname + " "
    sql += "WHERE mesh = '" + str(item[1]) + "'  and times = '" + str(item[0]) + "' for update"
    cur.execute(sql)
        
    sql = "UPDATE " + dbname + " set tbran = "+ str(item[2]) + " "
    sql += "WHERE mesh = '" + str(item[1]) + "' and times = '" + str(item[0]) + "'"
    cur.execute(sql)
    connection.commit()
    if i % 1000 == 0:
        print("cnt="+str(i))
    i = i + 1
cur.close()

cnt=0
cnt=1000
cnt=2000
cnt=3000
cnt=4000
cnt=5000
cnt=6000
cnt=7000
cnt=8000
cnt=9000
cnt=10000
cnt=11000
cnt=12000
cnt=13000
cnt=14000
cnt=15000

In [6]:
connection.close()

In [ ]:
#ConvertMeshtoRoad