In [1]:
# ライブラリのインポート
import numpy as np
import pandas as pd
import psycopg2
import datetime

In [2]:
filename = 'kddi_trkn12_change4.csv'
dbname = 'kddi_12_param_marge'
df_csv = pd.read_csv(filename)

In [3]:
df_csv

                     times         mesh         max
0      2022-04-08 16:00:00  50324585213   32.000000
1      2022-04-08 16:00:00  50324585214   12.993894
2      2022-04-08 16:00:00  50324585231   12.875787
3      2022-04-08 16:00:00  50324585232   12.869276
4      2022-04-08 16:00:00  50324585234   12.744658
...                    ...          ...         ...
29994  2022-04-11 13:45:00  50325596244   51.333333
29995  2022-04-11 13:45:00  50325596412  161.000000
29996  2022-04-11 13:45:00  50325596432   19.000000
29997  2022-04-11 13:45:00  50325596443   33.939152
29998  2022-04-11 13:45:00  50325597133   55.666667

[29999 rows x 3 columns]

In [4]:
connection = psycopg2.connectconnection = psycopg2.connect(host="localhost", database="analysisdb", user="postgres",password="setouchi1311")

In [ ]:
cur =connection.cursor()
i = 0
for item in df_csv.values:
    sql = "SELECT tbran from " + dbname + " "
    sql += "WHERE mesh = '" + str(item[1]) + "' and times = '" + str(item[0]) + "' for update"
    cur.execute(sql)
        
    sql = "UPDATE " + dbname + " set tbran = "+ str(item[2]) + " "
    sql += "WHERE mesh = '" + str(item[1]) + "' and times = '" + str(item[0]) + "'"
    cur.execute(sql)
    connection.commit()
    if i % 1000 == 0:
        print("cnt="+str(i))
    i = i + 1
cur.close()

cnt=0
cnt=1000
cnt=2000
cnt=3000
cnt=4000
cnt=5000
cnt=6000
cnt=7000
cnt=8000
cnt=9000
cnt=10000
cnt=11000
cnt=12000
cnt=13000
cnt=14000
cnt=15000
cnt=16000
cnt=17000
cnt=18000
cnt=19000
cnt=20000
cnt=21000
cnt=22000
cnt=23000
cnt=24000
cnt=25000
cnt=26000
cnt=27000
cnt=28000

In [ ]:
connection.close()

In [ ]:
#ConvertMeshtoRoad