In [1]:
# ライブラリのインポート
import numpy as np
import pandas as pd
import psycopg2
import datetime

In [2]:
filename = 'trkn12.csv'
dbname = 'kddi_12_new_marge'
df_csv = pd.read_csv(filename)

In [3]:
df_csv

                       times         mesh      tbran       stmesh       edmesh
0        2022-04-01 12:00:00  50324526133  29.600000  50324526341  50324526133
1        2022-04-01 12:00:00  50324526134  28.011983  50324526341  50324526133
2        2022-04-01 12:00:00  50324526311  27.906301  50324526341  50324526133
3        2022-04-01 12:00:00  50324526312  25.863882  50324526341  50324526133
4        2022-04-01 12:00:00  50324526314  24.039343  50324526341  50324526133
...                      ...          ...        ...          ...          ...
1219675  2022-04-30 17:45:00  51320614324  63.000000  51320625324  50327691223
1219676  2022-04-30 17:45:00  51320614342  63.000000  51320625324  50327691223
1219677  2022-04-30 17:45:00  51320614413  63.000000  51320625324  50327691223
1219678  2022-04-30 17:45:00  51320614431  63.000000  51320625324  50327691223
1219679  2022-04-30 17:45:00  51320614433  63.000000  51320625324  50327691223

[1219680 rows x 5 columns]

In [8]:
connection = psycopg2.connectconnection = psycopg2.connect(host="localhost", database="analysisdb", user="postgres",password="setouchi1311")

In [9]:
cur =connection.cursor()
i = 0
for item in df_csv.values:
    if i < 1210000:
        i = i + 1
        continue
    if i >= 1300000:
        break
    sql = "UPDATE " + dbname + " set tbran = "+ str(item[2]) + " "
    sql += "WHERE mesh = '" + str(item[1]) + "' and times ='" + str(item[0]) + "'"
    cur.execute(sql)
    #connection.commit()
    #print(sql)
    if i % 10000 == 0:
        connection.commit()
        print("cnt="+str(i))
    i = i + 1
cur.close()

cnt=1210000

In [10]:
connection.close()

In [ ]:
#ConvertMeshtoRoad