In [1]:
# ライブラリのインポート
import numpy as np
import pandas as pd
import psycopg2
import datetime

In [2]:
filename = 'trkn18.csv'
dbname = 'kddi_18_new_marge'
df_csv = pd.read_csv(filename)

In [3]:
df_csv

                       times         mesh      tbran       stmesh       edmesh
0        2022-04-01 18:00:00  50324526133  24.400000  50324526341  50324526133
1        2022-04-01 18:00:00  50324526134  24.338237  50324526341  50324526133
2        2022-04-01 18:00:00  50324526311  24.334127  50324526341  50324526133
3        2022-04-01 18:00:00  50324526312  24.254691  50324526341  50324526133
4        2022-04-01 18:00:00  50324526314  24.183730  50324526341  50324526133
...                      ...          ...        ...          ...          ...
1060629  2022-04-30 23:45:00  50327642334   6.612275  50327652134  50327600232
1060630  2022-04-30 23:45:00  50327652112   6.530635  50327652134  50327600232
1060631  2022-04-30 23:45:00  50327652114   6.448995  50327652134  50327600232
1060632  2022-04-30 23:45:00  50327652132   6.367355  50327652134  50327600232
1060633  2022-04-30 23:45:00  50327652134   6.285714  50327652134  50327600232

[1060634 rows x 5 columns]

In [4]:
connection = psycopg2.connectconnection = psycopg2.connect(host="localhost", database="analysisdb", user="postgres",password="setouchi1311")

In [5]:
cur =connection.cursor()
i = 0
for item in df_csv.values:
    if i < 500000:
        i = i + 1
        continue
    if i >= 700000:
        break
    sql = "UPDATE " + dbname + " set tbran = "+ str(item[2]) + " "
    sql += "WHERE mesh = '" + str(item[1]) + "' and times ='" + str(item[0]) + "'"
    cur.execute(sql)
    #connection.commit()
    #print(sql)
    if i % 10000 == 0:
        connection.commit()
        print("cnt="+str(i))
    i = i + 1
cur.close()

cnt=500000
cnt=510000
cnt=520000
cnt=530000
cnt=540000
cnt=550000
cnt=560000
cnt=570000
cnt=580000
cnt=590000
cnt=600000
cnt=610000
cnt=620000
cnt=630000
cnt=640000
cnt=650000
cnt=660000
cnt=670000
cnt=680000
cnt=690000

In [6]:
connection.close()

In [ ]:
#ConvertMeshtoRoad